ul {
    & li{
        & button {
        display: flex;
        max-width: 350px;
        width: 100%;
        padding: 8px 0 8px 50px;
        color: #000;
        font-family: 'Karla', sans-serif;
        font-size: 25px;
        line-height: normal;
        cursor: pointer;
        &.active {
          color: #ff971d;
          background: #fff;
        }
        }
    }
}

